.banner-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.banner-image {
  position: relative;
}

.banner-detail {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.banner-heading {
  font-size: 5rem;
}

.banner-offer {
  font-size: 3rem;
}

.primary-badge-clr {
  background-color: var(--color-primary);
}

/* btn */
.banner-detail > a {
  padding: 0.75rem 2rem;
}

.btn {
  width: max-content;
  display: inline-block;
  min-width: 80px;
  color: var(--color-secondary);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-shade);
  border: 1px solid var(--color-primary-shade);
}

.categories-wrapper {
  position: relative;
}

.category-item {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: contain;
}
/* cards  */

.icon-badge {
  color: var(--white);
}

.text-badge {
  top: 1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.card-buy-btn {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

.card-buy-btn:hover {
  background-color: var(--color-primary-shade);
  color: var(--color-secondary);
}

.card-price-offer {
  color: var(--color-primary);
}

.orange-btn {
  background-color: var(--color-primary-shade);
  color: var(--color-secondary);
  cursor: pointer;
}

/* footer */

.footer {
  color: var(--color-secondary);
  background: var(--color-primary);
  margin-top: 3rem;
}

.social-link-footer:hover {
  color: var(--color-primary-shade);
}

@media screen and (max-width: 600px) {
  .banner-detail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .banner-heading {
    font-size: 2rem;
  }

  .banner-offer {
    font-size: 1rem;
  }

  .btn {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
